/** ------------------------------------
 * Kite CSS
 * Light weight & robust Layout CSS Framework.
 * ---------------------------------- */

/** 
 * Setting
 *
 * Override `kite-variables'.
 */

$use-markup-fix: false;
$use-semantic-classes: false;
$use-silent-classes: false;
$use-lagecyIE-hacks: false;
$grid-name: 'grid';
$cell-name: 'cell';
$element-delimiter: '__';
$modifier-delimiter: '--';
$unit: 12;
$gutter: 20px;
$column: 60px;
$container: ($column + $gutter) * $unit;
$fluid: false;

/** 
 * Import
 *
 * Import kite `core'.
 */

@import "core/kite-variables";
@import "core/kite-core";
@import "core/kite-utility";
@import "core/kite-unit";