/*
* Kite Utility
*/

/*
* Build unit rules
*/

$result: null;
$results: ();

// Build class rules
@for $i from 1 through $unit {
  @if $column > 0 {
  	$result: ($column + $gutter) * $i;
  } @else {
  	$result: (100% / $unit) * $i;
  	$container: auto;
  }

  $results: append($results, $result);

  #{$class-type}#{$grid-name}__#{$cell-name}--#{$i} {
  	width: nth($results, $i);
  }
}

// Build function
@function kite-unit($i) {
  @if $column > 0 {
    $result: ($column + $gutter) * $i;
  } @else {
    $result: (100% / $unit) * $i;
    $container: auto;
  }

  $results: append($results, $result);

  @if $i > $unit {
    $i: $unit;
    @warn "$i Over $unit count.";
  }
  @return nth($results, $i);
}