/*
* Kite Utility
*/

/*
* Build unit 
*/

$result: null;
$results: ();

// Build class unit-width rules
//
// ```
// .grid__cell--1 {
//   width: 80px;
// }
// .grid__cell--12 {
//   width: 960px;
// }
// ```

@for $i from 1 through $unit {
  @if $column > 0 {
  	$result: ($column + $gutter) * $i;
  } @else {
  	$result: (100% / $unit) * $i;
  	$container: auto;
  }

  $results: append($results, $result);

  #{$class-type}#{$grid-name}__#{$cell-name}--#{$i} {
  	width: nth($results, $i);
  }
}

// Build unit mixins
// Cell width function
@function kite-unit($i) {
  @if $column > 0 {
    $result: ($column + $gutter) * $i;
  } @else {
    $result: (100% / $unit) * $i;
    $container: auto;
  }

  $results: append($results, $result);

  @if $i > $unit {
    $i: $unit;
    @warn "$i Over $unit count.";
  }
  @return nth($results, $i);
}

// Cell width function