/*
* Kite Utility
*/

@mixin kite-unit-build($unit: null) {
	#{$class-type}#{$grid-name}__#{$cell-name}--#{$unit} {
		width: 100%;
	}
}

// $unit: カラム数
// $gutter: ガター幅（任意）
// $column: カラム幅（任意）
// $container: カラム数とガター幅に応じたコンテナ幅。Fluidなレイアウトの計算で利用する。

$unit: 12 !default;
$gutter: 20px !default;
$column: 60px !default;
$container: ($column + $gutter) * $unit !default;
$fluid: false !default;
$result: null;
$results: ();

@for $i from 1 through $unit {
  @if $column > 0 {
  	$result: ($column + $gutter) * $i;
  } @else {
  	$result: (100% / $unit) * $i;
  	$container: auto;
  }
  $results: append($results, $result);

  #{$class-type}#{$grid-name}__#{$cell-name}--#{$i} {
  	width: nth($results, $i) !important;
  }
}
