/** ------------------------------------
 * Kite Experimental
 * ---------------------------------- */

 /**
 * Justify cells
 *
 * セルの数が少ない、セルの合計がコンテナの幅を満たない場合に、
 * コンテナ内で均一にするモディファイア。
 * 
 * :after擬似要素でコンテナの後に100%幅の要素を差し込むことで実現するが、
 * その要素の高さが発生してしまうので、それをクリアにしなければいけない。
  * この問題の対応中。
 */

#{$class-type}#{$grid-name}#{$modifier-delimiter}justify { /* Expetimental */
    display: block;
    text-align: justify;
    text-justify: distribute-all-lines; /* for IE */
    &:after {
        display: inline-block;
        content: "";
        width: 100%;
        height: 0;
    }
    & > #{$class-type}#{$grid-name}#{$element-delimiter}#{$cell-name} {
        height: 0;
    }
}

 /**
 * Cut outside gutter
 *
 * コンテナの両サイドにあるガターを取り除く。
 * 
 * これを有効とするためには`$fluid: true`であることが必須となるか
 * 検証中。
 */
 
#{$class-type}#{$grid-name}#{$modifier-delimiter}full {/* Expetimental */
    display: block;
    // width: auto;
    margin-left: -($gutter / 2);
    margin-right: -($gutter / 2);
}