/**
 * Kite Variables
 */

/**
 * If you are building a non-responsive site but would still like to use
 * csswizardry-grids, set this to ‘false’:
 */
// $responsive:            true!default;

/**
 * Set the spacing between your grid items.
 */
// $gutter:                10px!default;

/**
 * Would you like Sass’ silent classes, or regular CSS classes?
 */
$use-silent-classes:    false!default;

/**
 * Would you like push and pull classes enabled?
 */
// $push:                  false!default;
// $pull:                  false!default;


/**
 * Using `inline-block` means that the grid items need their whitespace removing
 * in order for them to work correctly. Set the following to true if you are
 * going to achieve this by manually removing/commenting out any whitespace in
 * your HTML yourself.
 *
 * Setting this to false invokes a hack which cannot always be guaranteed,
 * please see the following for more detail:
 *
 * github.com/csswizardry/csswizardry-grids/commit/744d4b23c9d2b77d605b5991e54a397df72e0688
 * github.com/csswizardry/inuit.css/issues/170#issuecomment-14859371
 */
$use-markup-fix:        true!default;

/**
 * グリッドを構成するclass名を任意の名前に
 */
$grid-name:                'grid'!default;
$cell-name:                'cell'!default;

/**
 * You do not need to edit anything from this line onward; csswizardry-grids is
 * good to go. Happy griddin’!
 */
$class-type:            unquote(".");

@if $use-silent-classes == true{
    $class-type:        unquote("%");
}

/**
 * Define your breakpoints. The first value is the prefix that shall be used for
 * your classes (e.g. `.palm--one-half`), the second value is the media query
 * that the breakpoint fires at.
 */
$breakpoints: (
    'palm' '(max-width: 480px)',
    'lap' '(min-width: 481px) and (max-width: 1023px)',
    'portable' '(max-width: 1023px)',
    'desk' '(min-width: 1024px)'
)!default;

/**
 * Define which namespaced breakpoints you would like to generate for each of
 * widths, push and pull. This is handy if you only need pull on, say, desk, or
 * you only need a new width breakpoint at mobile sizes. It allows you to only
 * compile as much CSS as you need. All are turned on by default, but you can
 * add and remove breakpoints at will.
 *
 * Push and pull shall only be used if `$push` and/or `$pull` and `$responsive`
 * have been set to ‘true’.
 */
$breakpoint-has-widths: ('palm', 'lap', 'portable', 'desk')!default;
$breakpoint-has-push:   ('palm', 'lap', 'portable', 'desk')!default;
$breakpoint-has-pull:   ('palm', 'lap', 'portable', 'desk')!default;


// $unit:            カラム数
// $gutter:          ガター幅（任意）
// $column:          カラム幅（任意）
// $container:       カラム数とガター幅に応じたコンテナ幅。
//                   `#{$class-type}#{$grid-name}-container`の幅にもなる。
//                   また`$fluid:true`時のパーセント計算にも使われる。
// $fluid(bool):     カラムをパーセント化。 

$unit: 12 !default;
$gutter: 20px !default;
$column: 60px !default;
$container: ($column + $gutter) * $unit !default;
$fluid: false !default;

