///** ------------------------------------
// * Kite Grid
// * ---------------------------------- */

///**
// * Kite Grid Container
// *
// * 子要素にはグリッドのセルが置かれることを前提とする。
// *
// * 1. グリッドに影響するmargin,paddingのリセットをする。
// * 2. グリッドにリスト要素が使われた場合のlist-styleのクリアをする。
// * 3. 子要素のinline-blockのwhitespaceを取り除く。
// * 4. [3]によって生じる要素の重なりを微調整する。
// * 5. WebKitのoptimizelegibilityバグが発生した場合のために記述する。
// * 6. Remove inter-unit whitespace that appears between `inline-block` child
// *    elements. Work for all non-monospace font-families.  If you're using a
// *    monospace base font, you will need to set the `grid` font-family to
// *   `sans-serif` and then redeclare the monospace font on the `grid#{$element-delimiter}#{$cell-name}`
// *    objects.
// */

@mixin kite-row($align: null, $valign:null) {
    display: table;                     ///* [4] */
    table-layout: fixed;                ///* [4] */
    width: 100%;
    list-style:none;                    ///* [2] */
    margin:0;                           ///* [1] */
    padding:0;                          ///* [1] */
    @if $use-markup-fix == false {
        letter-spacing: -0.30em;        ///* [3] */
        text-rendering: optimizespeed;  ///* [5] */
        font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif; ///* [6] */
    }
    @if $align == 'center' {
        text-align: center;
    }
    @else if $align == 'left' {
        text-align: left;
    }
    @else if $align == 'right' {
        text-align: right;
    }
    @if $valign == 'top' {
        vertical-align: top;
    }
    @else if $valign == 'middle' {
        vertical-align: middle;
    }
    @else if $valign == 'bottom' {
        vertical-align: bottom;
    }
}

///**
// * Kite Grid Cell
// *
// * 1. inline-blockによって中央寄せなど柔軟なレイアウトができる
// * 2. カラム感の隙間を指定する。
// * 3. paddingの値でwidthを拡張しないようにする
// * 4. グリッドのコンテナ側で使用したwhitespaceのハックの値をデフォルトに戻す
// */
@mixin kite-cell($align: null,$valign: null, $fill: false) {
    -webkit-box-sizing:border-box;      ///* [3] */
       -moz-box-sizing:border-box;      ///* [3] */
            box-sizing:border-box;      ///* [3] */
    display:inline-block;               ///* [1] */
    @if $use-lagecyIE-hacks == true {
        *display: inline;               ///* [1] for IE 6,7 */
        *zoom: 1;                       ///* [1] for IE 6,7 */
    }
    @if $fill != true {
        padding-left: ($gutter / 2);    ///* [2] */
        padding-right: ($gutter / 2);   ///* [2] */
    }
    @else {
        padding-left: 0;                ///* [2] */
        padding-right: 0;               ///* [2] */
    }
    vertical-align:top;
    @if $use-markup-fix == false {
        letter-spacing:normal;          ///* [4] */
        word-spacing:normal;            ///* [4] */
        text-rendering: auto;           ///* [4] */
        font-family: #{$set-default-family};        ///* [6] */
    }
    @if $align == 'center' {
        text-align: center;
    }
    @else if $align == 'left' {
        text-align: left;
    }
    @else if $align == 'right' {
        text-align: right;
    }
    @if $valign == 'top' {
        vertical-align: top;
    }
    @else if $valign == 'middle' {
        vertical-align: middle;
    }
    @else if $valign == 'bottom' {
        vertical-align: bottom;
    }
}


@if $use-semantic-classes == false {

  ///**
  // * Kite Grid Row
  // */

  #{$class-type}#{$grid-name} {
      @include kite-row;
  }

  ///**
  // * Kite Grid Cell
  // */

  #{$class-type}#{$grid-name}#{$element-delimiter}#{$cell-name} {
      @include kite-cell();
  }

  ///**
  // * Kite Grid Row Modifier
  // */
  #{$class-type}#{$grid-name}#{$modifier-delimiter}center {
      text-align: center;
  }
  #{$class-type}#{$grid-name}#{$modifier-delimiter}left {
      text-align: left;
  }
  #{$class-type}#{$grid-name}#{$modifier-delimiter}right {
      text-align: right;
  }
  #{$class-type}#{$grid-name}#{$modifier-delimiter}top {
      vertical-align: top;
  }
  #{$class-type}#{$grid-name}#{$modifier-delimiter}middle {
      vertical-align: middle;
  }
  #{$class-type}#{$grid-name}#{$modifier-delimiter}bottom {
      vertical-align: bottom;
  }
  #{$class-type}#{$grid-name}#{$modifier-delimiter}fill {
      & > #{$class-type}#{$grid-name}#{$element-delimiter}#{$cell-name} {
          padding-left: 0 !important;
          padding-right: 0 !important;
      }
  }

  ///**
  // * Kite Grid Cell Modifier
  // */
  #{$class-type}#{$grid-name}#{$element-delimiter}#{$cell-name}#{$modifier-delimiter}center {
      text-align: center;
  }
  #{$class-type}#{$grid-name}#{$element-delimiter}#{$cell-name}#{$modifier-delimiter}left {
      text-align: left;
  }
  #{$class-type}#{$grid-name}#{$element-delimiter}#{$cell-name}#{$modifier-delimiter}right {
      text-align: right;
  }
  #{$class-type}#{$grid-name}#{$element-delimiter}#{$cell-name}#{$modifier-delimiter}top {
      vertical-align: top;
  }
  #{$class-type}#{$grid-name}#{$element-delimiter}#{$cell-name}#{$modifier-delimiter}middle {
      vertical-align: middle;
  }
  #{$class-type}#{$grid-name}#{$element-delimiter}#{$cell-name}#{$modifier-delimiter}bottom {
      vertical-align: bottom;
  }
}
