@charset "UTF-8";
/** ------------------------------------
 * Kite CSS
 * Light weight & robust Layout CSS Framework.
 * ---------------------------------- */
/** 
 * Setting
 *
 * Override `kite-variables'.
 */
/** 
 * Import
 *
 * Import kite `core'.
 */
/** ------------------------------------
 * Kite Grid Core
 * ---------------------------------- */
/**
 * Kite Grid Container
 *
 * 子要素にはグリッドのセルが置かれることを前提とする。
 *
 * 1. グリッドに影響するmargin,paddingのリセットをする。
 * 2. グリッドにリスト要素が使われた場合のlist-styleのクリアをする。
 * 3. 子要素のinline-blockのwhitespaceを取り除く。
 * 4. [3]によって生じる要素の重なりを微調整する。
 * 5. WebKitのoptimizelegibilityバグが発生した場合のために記述する。
 * 6. Remove inter-unit whitespace that appears between `inline-block` child
 *    elements. Work for all non-monospace font-families.  If you're using a
 *    monospace base font, you will need to set the `grid` font-family to
 *   `sans-serif` and then redeclare the monospace font on the `grid__cell`
 *    objects.
 */
/**
 * Kite Grid Cell
 *
 * 1. inline-blockによって中央寄せなど柔軟なレイアウトができる
 * 2. カラム感の隙間を指定する。
 * 3. paddingの値でwidthを拡張しないようにする
 * 4. グリッドのコンテナ側で使用したwhitespaceのハックの値をデフォルトに戻す
 */
/**
 * Kite Grid Row
 */
.grid {
  display: table;
  /* [4] */
  table-layout: fixed;
  /* [4] */
  width: 100%;
  list-style: none;
  /* [2] */
  margin: 0;
  /* [1] */
  padding: 0;
  /* [1] */
  letter-spacing: -0.30em;
  /* [3] */
  text-rendering: optimizespeed;
  /* [5] */
  font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
  /* [6] */
}

/**
 * Kite Grid Cell
 */
.grid__cell {
  -webkit-box-sizing: border-box;
  /* [3] */
  -moz-box-sizing: border-box;
  /* [3] */
  box-sizing: border-box;
  /* [3] */
  display: inline-block;
  /* [1] */
  padding-left: 0;
  /* [2] */
  padding-right: 0;
  /* [2] */
  vertical-align: top;
  letter-spacing: normal;
  /* [4] */
  word-spacing: normal;
  /* [4] */
  text-rendering: auto;
  /* [4] */
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  /* [6] */
}

/**
 * Kite Grid Row Modifier
 */
.grid--center {
  text-align: center;
}

.grid--left {
  text-align: left;
}

.grid--right {
  text-align: right;
}

.grid--top {
  vertical-align: top;
}

.grid--middle {
  vertical-align: middle;
}

.grid--bottom {
  vertical-align: bottom;
}

.grid--fill > .grid__cell {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/**
 * Kite Grid Cell Modifier
 */
.grid__cell--center {
  text-align: center;
}

.grid__cell--left {
  text-align: left;
}

.grid__cell--left {
  text-align: left;
}

.grid__cell--top {
  vertical-align: top;
}

.grid__cell--middle {
  vertical-align: middle;
}

.grid__cell--bottom {
  vertical-align: bottom;
}

/** ------------------------------------
 * Kite Unit
 * ---------------------------------- */
.grid__cell--1 {
  width: 80px;
}

.grid__cell--2 {
  width: 160px;
}

.grid__cell--3 {
  width: 240px;
}

.grid__cell--4 {
  width: 320px;
}

.grid__cell--5 {
  width: 400px;
}

.grid__cell--6 {
  width: 480px;
}

.grid__cell--7 {
  width: 560px;
}

.grid__cell--8 {
  width: 640px;
}

.grid__cell--9 {
  width: 720px;
}

.grid__cell--10 {
  width: 800px;
}

.grid__cell--11 {
  width: 880px;
}

.grid__cell--12 {
  width: 960px;
}

.grid__cell--push-1 {
  position: relative;
  right: -80px;
}

.grid__cell--push-2 {
  position: relative;
  right: -160px;
}

.grid__cell--push-3 {
  position: relative;
  right: -240px;
}

.grid__cell--push-4 {
  position: relative;
  right: -320px;
}

.grid__cell--push-5 {
  position: relative;
  right: -400px;
}

.grid__cell--push-6 {
  position: relative;
  right: -480px;
}

.grid__cell--push-7 {
  position: relative;
  right: -560px;
}

.grid__cell--push-8 {
  position: relative;
  right: -640px;
}

.grid__cell--push-9 {
  position: relative;
  right: -720px;
}

.grid__cell--push-10 {
  position: relative;
  right: -800px;
}

.grid__cell--push-11 {
  position: relative;
  right: -880px;
}

.grid__cell--push-12 {
  position: relative;
  right: -960px;
}

.grid__cell--pull-1 {
  position: relative;
  left: -80px;
}

.grid__cell--pull-2 {
  position: relative;
  left: -160px;
}

.grid__cell--pull-3 {
  position: relative;
  left: -240px;
}

.grid__cell--pull-4 {
  position: relative;
  left: -320px;
}

.grid__cell--pull-5 {
  position: relative;
  left: -400px;
}

.grid__cell--pull-6 {
  position: relative;
  left: -480px;
}

.grid__cell--pull-7 {
  position: relative;
  left: -560px;
}

.grid__cell--pull-8 {
  position: relative;
  left: -640px;
}

.grid__cell--pull-9 {
  position: relative;
  left: -720px;
}

.grid__cell--pull-10 {
  position: relative;
  left: -800px;
}

.grid__cell--pull-11 {
  position: relative;
  left: -880px;
}

.grid__cell--pull-12 {
  position: relative;
  left: -960px;
}
